@use '../../../styles/variables' as *;

.topComponents {
  width: 98%;
  margin: auto;
  margin-top: 15px;
}

.mainWrapper {
  display: grid;
  background-color: $primary;
  border-radius: 20px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  overflow: hidden;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

.image {
  width: 100%;
  height: 517px;
  object-fit: cover;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;

  @media (max-width: 768px) {
    border-radius: 20px 20px 0 0;
    height: 300px;
  }
}

.title {
  font-family: $font-primary;
  font-size: 44px;
  margin-left: 50px;
  margin-top: 80px;

  @media (max-width: 768px) {
    font-size: 28px;
    margin: 30px 20px 10px;
  }
}

.subTitle {
  font-family: $font-secondary;
  margin-left: 50px;
  margin-top: 20px;
  color: rgb(141, 140, 137);
  font-size: 18px;

  @media (max-width: 768px) {
    margin: 0 20px;
    font-size: 16px;
  }
}

.alignButton {
  margin-left: 50px;
  margin-top: 30px;
  display: flex;
  gap: 18px;

  @media (max-width: 768px) {
    margin: 20px auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
}
