@mixin flex-center($direction: row, $gap: 1rem) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
    gap: $gap;
  }
  
  @mixin respond($breakpoint) {
    @if $breakpoint == "lg" {
      @media (max-width: 1024px) { @content; }
    } @else if $breakpoint == "md" {
      @media (max-width: 768px) { @content; }
    } @else if $breakpoint == "sm" {
      @media (max-width: 480px) { @content; }
    }
  }
  