$primary: #FBFDF7;
$font-primary: 'DM sans', sans-serif;
$main-shadow: rgba(0, 0, 0, 0.08) 1.95px 1.95px 2.6px;
$main-border:#dbd8d8;
$breakpoint-medium: 768px;

$green: #89C540; 
$black:black;
$font-secondary: 'Urbanist', sans-serif;