@use '../../../styles/variables'   as *;

.btn {
  padding: 15px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: $font-primary;

  &.primary {
    background-color: $green;
    color:$black;
    font-weight: 500;
    border: 1px solid $green;

    &:hover {
      background-color: darken($green, 5%);
    }
  }

  &.outline{
    background-color:$primary;
    color:$black;
    border: 1px solid $green;

    &:hover {
      background-color: rgba($green, 0.05);
    }
  }
  &.category {
    background-color: $primary;
    color: grey;
    border: 1px solid transparent;
    border-radius: 0;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color:$main-border;
      color:$black;
      border-radius: 20px;
      border-right: none;
    }
  }
}
